body {
    margin: 0px;
    font-family: "Roboto", "Helvetica", sans-serif;
    /*font-size: 16px;*/
    line-height: 28px;
    background-color: #f5f5f5;
    word-wrap: break-word;
}

header {
    height: 170px;
    margin: 0px 0px 10px;
    padding: 90px 16px 0px;
    background-color: #03a9f4;
}

.header-title  {
    color: #fff;
    line-height: 1.5;
    margin: 0 auto;
    overflow: hidden;
    /*padding-left: 0;*/
    width: 1160px;
    white-space: nowrap;
    max-width: 760px;
}

.section-title {
    font-weight: bold;
    font-size: 60px;
}

.section-data {
    font-size: 18px;
}

.content {
    margin-left: 15px;
    padding-left: 0;
    width: 240px;
    float: left;
    font-size: 20px;
    border: 1px solid #dddddd;
    background-color: #fff;
    box-shadow: 0 6px 8px rgba(0,0,0,0.5);
}

.stick {
    top: 40px;
    left: 0;
    position: fixed;
    z-index: 5;
}

.content li {
    margin: 0;
    position: relative;
    color: rgba(0,0,0);
    list-style: none;
    display: block;
}

.content li::before{
    content: '';
    position: absolute;
    left: 10px;
    bottom: 0;
    height: 1px;
    width: 220px;
    border-bottom: 1px solid #dddddd;
}

.content li a {
    padding: 8px 15px;
    display: block;
    text-decoration: none;
    color: #000;
}

.content li a:hover {
    color: #fff;
    background-color: #66BBFF;
}

.content li a span {
    float: right;
}

#toTop {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.clockwise {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#container {
    width: 820px;
    height: auto;
    margin: 10px auto;
    color: rgba(0, 0, 0, 0.7);
    line-height: 25px;
    padding-left: 50px;
}

#container h2 {
    color: #03a9f4;
    weight: bold;
    font-size: 25px;
}

#container p {
    font-size: 18px;
}

#container p a {
    color: #4285F4;
    text-decoration: none;
}

#summary {
    padding: 15px;
    color: rgba(0, 0, 0, 0.7);
}

#summary p{
    font-size: 20px;
}

#summary ul li{
    list-style: none;
}

.info-bar {
    border-left: 3px solid #1d9d74;
    font-size: 18px;
    background-color: #e6f3fe;
    padding: 10px 5px;
    margin: 10px 0px;
}

.info-bar i {
    color: #1D9D74;
    margin: auto 10px;
}

.info-bar a {
    color: #4285F4;
    text-decoration: none;
}

.warn-bar {
    border-left: 3px solid #F5AA0A;
    font-size: 18px;
    background-color: #FDF1D8;
    padding: 10px 5px;
    margin: 10px 0px;
}

.warn-bar i {
    color: #F5AA0A;
    margin: auto 10px;
}

.warn-bar a {
    color: #4285F4;
    text-decoration: none;
}

.danger-bar {
    border-left: 3px solid #F5311D;
    font-size: 18px;
    background-color: #FEECEA;
    padding: 10px 5px;
    margin: 10px 0px;
}

.danger-bar i {
    color: #F5311D;
    margin: auto 10px;
}

.danger-bar a {
    color: #4285F4;
    text-decoration: none;
}

.btn-group {
    max-width: 300px;
    margin: 10px auto 0px;
    padding: 0px;
    overflow: hidden;
}

.btn-group li {
    display: inline;
    list-style: none;
    float: left;
}

.btn-group li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 3px 15px;
    font-size: 19px;
}

.btn-group li a:hover:not(.btn-press) {
    color: #327FC7;
    border: 1px solid #327FC7;
}

.btn-release {
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid #dddddd;
    background-color: #fff;
}

.btn-press {
    background-color: #327FC7;
    color: #fff;
    border: 1px solid #327FC7;
}

.btn-group li:first-child a {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.btn-group li:last-child a {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#introduction {
    border-bottom: 2px solid #dadada;
    display: block;
}

#precondition {
    border-bottom: 2px solid #dadada;
    display: block;
}

#installation {
    border-bottom: 2px solid #dadada;
    display: block;
}

#certification {
    border-bottom: 2px solid #dadada;
    display: block;
}

#config {
    border-bottom: 2px solid #dadada;
    display: block;
}

#iptable {
    border-bottom: 2px solid #dadada;
    display: block;
}

.step {
    font-size: 20px;
    padding: 2px 7px;
    text-align: center;
    color: #fff;
    background-color: #4679bd;
    border-radius: 20%;
    margin-right: 5px;
}

pre {
    padding-left: 25px;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #eee;
    white-space: pre;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6)
}

code {
    overflow: auto;
    font-size: 18px;
    font-family: "Roboto", "Helvetica", sans-serif;
    word-spacing: 2px;
    word-wrap:break-word;
    display: block;
    color: black;
}

footer {
    color: #999;
    border-top: 2px solid #d5d5d5;
    font-size: 18px;
    margin: 10px auto;
    width: 70%;
}

.footer-right {
    float: right;
}

.footer-left {
    width: auto;
    float: left;
}

footer ul li {
    list-stlye: none;
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: #999;
    text-decoration: none;
}

footer ul li a:hover {
    color: black;
}


@media only screen and (max-width: 500px) {
    #container {
        width: 100%;
        margin: 10px auto;
        color: rgba(0, 0, 0, 0.7);
        padding: 0;
    }

    .content {
        display: none;
    }
}
